.List {
    height: 100%;
    position: fixed;
    top: 52px;
    left: 5%;
    right: 5%;
    overflow: auto;
    color: black;
    max-height: 100%;
    margin-right: -100px;
    padding-right: 100px;
}

@media (max-width: 500px) {
    .List {
        top: 340px;
        max-height: 50%;
    }
}

.Wrapper {
    overflow:hidden;
}


/*
TODO in mobile mode - when menu collapsed - stretch the list area
*/
