.List {
    height: 100%;
    position: absolute;
    top: 52px;
    left: 5%;
    right: 5%;
    overflow: auto;
    color: black;
}

.Navbar {
    margin: 0;
}


/*
TODO in mobile mode - push down content when menu is extended
TODO top toolbar breakpoint 991px
*/
