.Button {
    color: black;
    background-color: #cccccc;
    border: 1px solid #ccc;
    width: 35%;
    height: 60%;
    font-size: small;
    text-align: center;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Success {
    color: black;
    height: 1000px;
}
