.Input { /*wrapping div*/
    width: 50%; /*wraps full width of available space if 100%*/
    height: 50px;
    padding: 10px;
    display: flex;
}


.InputElement { /* input field */
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 0 10px; /* within field - affects placeholder ... uz nie lol*/
    width: 65%;
    font-size: small;
}

.SubmitButton {
    display: inline;
    color: black;
    background-color: #cccccc;
    border: 1px solid #ccc;
    width: 35%;
    margin: 0 10px;
    font-size: small;
}